# Data Wrangle Customer Data & Combine Orders-Product Data

In [1]:
#Import libraries 
import pandas as pd
import numpy as np
import os

In [2]:
#Import customer data
df_customer = pd.read_csv(r'/Users/marianino/Desktop/Instacart Basket Analysis/Data/Original Data/customers.csv')

# 1.Check customer data

In [3]:
df_customer.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [4]:
df_customer.shape

(206209, 10)

In [5]:
df_customer.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [6]:
df_customer.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

# 2. Change data types

In [7]:
#Changing user_id data type 
df_customer['user_id'] = df_customer['user_id'].astype('str')

In [8]:
df_customer.dtypes

user_id         object
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [9]:
#Changing date_joined data type
df_customer['date_joined'] = pd.to_datetime(df_customer['date_joined'])

In [10]:
df_customer.dtypes

user_id                 object
First Name              object
Surnam                  object
Gender                  object
STATE                   object
Age                      int64
date_joined     datetime64[ns]
n_dependants             int64
fam_status              object
income                   int64
dtype: object

In [11]:
#Checking for mixed data types columns 
for col in df_customer.columns.tolist():
    weird = (df_customer[[col]].map(type) !=
df_customer[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_customer[weird]) > 0:
        print (col)

First Name

In [12]:
#Fix mixed data type in the first name column 
df_customer['First Name'] = df_customer['First Name'].astype('str')

# 3. Change column names

In [13]:
#rename first name, surnam, gender, state and age
df_customer.rename(columns={"First Name":"first_name","Surnam":"last_name", "Gender":"gender", "STATE":"state","Age":"age"}, inplace=True)

In [14]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  object
 1   first_name    206209 non-null  object
 2   last_name     206209 non-null  object
 3   gender        206209 non-null  object
 4   state         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  datetime64[ns]
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 15.7+ MB

# 4. Consistency checks

In [16]:
#Check columns with missing values
df_customer.columns[df_customer.isnull().any()]

Index([], dtype='object')

In [17]:
df_customer['first_name'].isnull().sum()

0

In [18]:
#Checking for missing values in income
df_customer['income'].value_counts(dropna=False, sort=True)

income
57192     10
95891     10
95710     10
97532      9
98675      9
          ..
73141      1
71524      1
74408      1
44780      1
148828     1
Name: count, Length: 108012, dtype: int64

In [19]:
#Checking value types and counts for gender
df_customer['gender'].value_counts(dropna=False)

gender
Male      104067
Female    102142
Name: count, dtype: int64

In [21]:
#Checking the state column 
df_customer['state'].nunique()

51

In [23]:
#List states to check for duplicates or mistakes.
df_customer['state'].value_counts(dropna=False)

state
Florida                 4044
Colorado                4044
Illinois                4044
Alabama                 4044
District of Columbia    4044
Hawaii                  4044
Arizona                 4044
Connecticut             4044
California              4044
Indiana                 4044
Arkansas                4044
Alaska                  4044
Delaware                4044
Iowa                    4044
Idaho                   4044
Georgia                 4044
Wyoming                 4043
Mississippi             4043
Oklahoma                4043
Utah                    4043
New Hampshire           4043
Kentucky                4043
Maryland                4043
Rhode Island            4043
Massachusetts           4043
Michigan                4043
New Jersey              4043
Kansas                  4043
South Dakota            4043
Minnesota               4043
Tennessee               4043
New York                4043
Washington              4043
Louisiana               4043
Montana                 4043
North Dakota            4043
Wisconsin               4043
Nebraska                4043
Vermont                 4043
Nevada                  4043
Maine                   4043
North Carolina          4043
West Virginia           4043
Virginia                4043
Oregon                  4043
New Mexico              4043
Texas                   4043
Pennsylvania            4043
Ohio                    4043
South Carolina          4043
Missouri                4043
Name: count, dtype: int64

In [25]:
#Checking for any null values or odd ages
df_customer['age'].value_counts()

age
19    3329
55    3317
51    3317
56    3306
32    3305
      ...
65    3145
25    3127
66    3114
50    3102
36    3101
Name: count, Length: 64, dtype: int64

In [30]:
#Checking date joined column
df_customer['date_joined'].min()

Timestamp('2017-01-01 00:00:00')

In [31]:
df_customer['date_joined'].max()

Timestamp('2020-04-01 00:00:00')

In [32]:
df_customer['date_joined'].value_counts(dropna=False, sort=False)

date_joined
2017-01-01    159
2017-01-02    154
2017-01-03    169
2017-01-04    188
2017-01-05    177
             ...
2020-03-28    197
2020-03-29    171
2020-03-30    165
2020-03-31    149
2020-04-01    169
Name: count, Length: 1187, dtype: int64

In [34]:
#Checking value counts for n_dependants column
df_customer['n_dependants'].value_counts(dropna=False)

n_dependants
0    51602
3    51594
1    51531
2    51482
Name: count, dtype: int64

In [35]:
#Checking value counts for fam_status column
df_customer['fam_status'].value_counts(dropna=False)

fam_status
married                             144906
single                               33962
divorced/widowed                     17640
living with parents and siblings      9701
Name: count, dtype: int64

In [37]:
#Checking income column 
df_customer['income'].describe()

count    206209.000000
mean      94632.852548
std       42473.786988
min       25903.000000
25%       59874.000000
50%       93547.000000
75%      124244.000000
max      593901.000000
Name: income, dtype: float64

# Observations

1.There are no missing values for any of the columns, so no changes were made to any of them 

2.It is worth noticing that:

 -There are 51 states instead of 50, as Washington D.C is counted as a state.
 
 -Customers are almost equally split between the states.
 
 -Date joined dates are from 2017-01-01 to 2020-04-01.
 
 -The number of dependants seems to be equally distributed.
 
 -There are valid incomes.

# 5. Duplicate check

In [38]:
df_dups = df_customer[df_customer.duplicated()]
df_dups.shape

(0, 10)

No duplicates

# 6. Combine data sets

In [40]:
#Import ords-prods data
df_ords_prods = pd.read_pickle(r'/Users/marianino/Desktop/Instacart Basket Analysis/Data/Prepared Data/orders_products_merged_derived_aggregated.pkl')

In [41]:
df_ords_prods.shape

(32404859, 24)

In [42]:
#Checking for merge column
df_ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   product_id             int64
 1   product_name           object
 2   aisle_id               int64
 3   department_id          int64
 4   prices                 float64
 5   order_id               int64
 6   user_id                int64
 7   order_number           int64
 8   orders_day_of_week     int64
 9   order_hour_of_day      int64
 10  days_since_last_order  float64
 11  add_to_cart_order      int64
 12  reordered              int64
 13  _merge                 category
 14  price_range_loc        object
 15  busiest_day            object
 16  Busiest_days           object
 17  busiest_period_of_day  object
 18  max_order              int64
 19  loyalty_flag           object
 20  average_price          float64
 21  spending_flag          object
 22  median_orders          float64
 23  order_frequency_flag   object
dtypes: category(1), float64(4), int64(11), object(8)
memory usage: 5.6+ GB

In [43]:
#drop the _merge column in df_ords_prod prior to next merge as there is conflict
df_ords_prods.drop(columns=['_merge'], inplace=True)
df_ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   product_id             int64
 1   product_name           object
 2   aisle_id               int64
 3   department_id          int64
 4   prices                 float64
 5   order_id               int64
 6   user_id                int64
 7   order_number           int64
 8   orders_day_of_week     int64
 9   order_hour_of_day      int64
 10  days_since_last_order  float64
 11  add_to_cart_order      int64
 12  reordered              int64
 13  price_range_loc        object
 14  busiest_day            object
 15  Busiest_days           object
 16  busiest_period_of_day  object
 17  max_order              int64
 18  loyalty_flag           object
 19  average_price          float64
 20  spending_flag          object
 21  median_orders          float64
 22  order_frequency_flag   object
dtypes: float64(4), int64(11), object(8)
memory usage: 5.6+ GB

In [44]:
#Changing user_id in order to merge 
df_ords_prods['user_id'] = df_ords_prods['user_id'].astype('str')

In [45]:
df_ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   product_id             int64
 1   product_name           object
 2   aisle_id               int64
 3   department_id          int64
 4   prices                 float64
 5   order_id               int64
 6   user_id                object
 7   order_number           int64
 8   orders_day_of_week     int64
 9   order_hour_of_day      int64
 10  days_since_last_order  float64
 11  add_to_cart_order      int64
 12  reordered              int64
 13  price_range_loc        object
 14  busiest_day            object
 15  Busiest_days           object
 16  busiest_period_of_day  object
 17  max_order              int64
 18  loyalty_flag           object
 19  average_price          float64
 20  spending_flag          object
 21  median_orders          float64
 22  order_frequency_flag   object
dtypes: float64(4), int64(10), object(9)
memory usage: 5.6+ GB

In [47]:
# merge ords_prods withc customers using user_id
df_ords_prods_customer_left = df_ords_prods.merge(df_customer,
on=['user_id'], indicator=True)
df_ords_prods_customer_left['_merge'].value_counts(dropna=False)

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [49]:
df_ords_prods_customer_left.shape

(32404859, 33)

# 7. Export Data

In [50]:
df_ords_prods_customer_left.to_pickle(r'/Users/marianino/Desktop/Instacart Basket Analysis/Data/Prepared Data/orders_products_customer_merged.pkl')